.navbar {
  background: #2b2b2b;
  padding: 10px 0px;
}

.navbar ul {
  padding: 0;
  margin: 0;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.single-post {
  border: 1px solid #eee;
  width: calc(25% - 22px);
  margin: 10px;
}
.single-post img {
  max-width: 100%;
}
